# ======================
# Sistema operativo
# ======================
.DS_Store
Thumbs.db

# ======================
# Archivos temporales
# ======================
*.tmp
*.bak
*.log
*.swp

# ======================
# Java
# ======================
*.class
target/
bin/
*.jar

# ======================
# C / C++
# ======================
*.o
*.exe
*.out
build/

# ======================
# IDEs y editores
# ======================
.vscode/
.idea/
.settings/
*.iml

# ======================
# NetBeans
# ======================
nbproject/private/
build/
dist/

# ======================
# Maven
# ======================
target/

# ======================
# Otros
# ======================
.env
